.mainPageContainer {
  height: 50svh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 100px;
  align-items: center;
  text-align: center;
  gap: 30px;
}

#mainPageTitle {
  height: 20svh;
  width: 100%;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: var(--p5-color-1);
}
